@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Bowlby+One+SC|Pacifico|Righteous&display=swap');
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;
font-family: 'Bowlby One SC', cursive;
*/

.ariel {
    font-family:Arial, Helvetica, sans-serif;
    display:inline-block;
}

.times {
    font-family:'Times New Roman', Times, serif;
    display:inline-block;
}
.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:inline-block;
}

.bebas{
    font-family: 'Bebas Neue', cursive;
    display:inline-block;
}

.pacifico {
    font-family: 'Pacifico', cursive;
    display:inline-block;

}

.righteous{
    font-family: 'Righteous', cursive;
    display:inline-block;
}

.bowbly {
    font-family: 'Bowlby One SC', cursive;
    display:inline-block;
}
#arielButton {
    font-family: 'Bebas Neue', cursive;
    display:block;
}

#timesButton {
    font-family:'Times New Roman', Times, serif;
    display:block;
}

#impactButton {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:block;
}
#bebasButton {
    font-family: 'Bebas Neue', cursive;
    display:block;
}
#pacificoButton {
    font-family: 'Pacifico', cursive;
    display:block;
}
#righteousButton {
    font-family: 'Righteous', cursive;
    display:block;
}
#bowblyButton {
    font-family: 'Bowlby One SC', cursive;
    display:block;
}
